services:
    ####################################################################################################
    # FrankenPHP Service
    ####################################################################################################
    frankenphp:
        build:
            context: .docker/php
            dockerfile: Dockerfile
        # jika image sudah dibuat, jadi saat build ulang tidak membuat duplikat
        # image: esdmpermit-frankenphp:latest
        container_name: frankenphp
        command: frankenphp run --config /etc/frankenphp/Caddyfile
        expose:
            - "80"
        volumes:
            - .:/app
            - ./.docker/php/php.ini:/usr/local/etc/php/conf.d/uploads.ini
            - ./.docker/caddy_data:/data
            - ./.docker/caddy_config:/config
            - ./.docker/Caddyfile:/etc/frankenphp/Caddyfile
        extra_hosts:
            - "host.docker.internal:host-gateway"

    ####################################################################################################
    # Laravel Queue Worker
    ####################################################################################################
    queue:
        build:
            context: .docker/php
            dockerfile: Dockerfile
        # jika image sudah dibuat, jadi saat build ulang tidak membuat duplikat
        image: esdmpermit-queue:latest
        container_name: queue
        working_dir: /app
        command: ["/usr/bin/supervisord", "-c", "/etc/supervisord.conf"]
        volumes:
            - .:/app
            - ./.docker/php/php.ini:/usr/local/etc/php/conf.d/uploads.ini
            - ./.docker/php/supervisord.conf:/etc/supervisord.conf
        extra_hosts:
            - "host.docker.internal:host-gateway"
        env_file:
            - .env
        restart: always

    ####################################################################################################
    # Nginx untuk SSL dan Reverse Proxy ke FrankenPHP
    ####################################################################################################
    nginx:
        image: nginx:alpine
        container_name: miners-nginx
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./.docker/nginx:/etc/nginx/conf.d
            - ./.docker/nginx/certs:/etc/letsencrypt
            - ./.docker/nginx/webroot:/var/www/certbot
        depends_on:
            - frankenphp

    #####################################################################################################
    # Certbot untuk SSL Certificate
    #####################################################################################################
    certbot:
        image: certbot/certbot
        container_name: certbot
        volumes:
            - ./.docker/nginx/certs:/etc/letsencrypt
            - ./.docker/nginx/webroot:/var/www/certbot

    ####################################################################################################
    # Internal Service
    ####################################################################################################
    internal:
        build:
            context: ./internal
            dockerfile: Dockerfile
        container_name: frankenphp-internal
        expose:
            - "80"
        extra_hosts:
            - "host.docker.internal:host-gateway"
